// Colors
@main-color: #9f0300;
@accent-color: #ffffff;

@colorBeige: #b5b3a4;
@colorOlive: #4b4a44;
@colorCrimson: #44191A;

@core-main-color: #ce751e;
@core-bg-color: #f0d5bb;
@creature-main-color: #910055;
@creature-bg-color: #deb2cc;
@gift-main-color: #e85b2a;
@gift-bg-color: #f8cdbd;
@skill-main-color: #537b40;
@skill-bg-color: #cdd7c5;
@trait-main-color: #006c7d;
@trait-bg-color: #b2d3d8;
@armour-main-color: #3a393c;
@armour-bg-color: #c4c3c4;
@condition-main-color: #5d4363;
@condition-bg-color: #cec6d0;
@vocation-main-color: #004e7a;
@vocation-bg-color: #b2cad7;
@disvantage-main-color: #000000;
@disvantage-bg-color: #e6e7e7;
@annotation-main-color: #5d4363;
@annotation-bg-color: #cec6d0;

@item-main-color: #375867;
@item-bg-color: #c3cdd1;
@weapon-main-color: #375867;
@weapon-bg-color: #c3cdd1;
@equip-main-color: #375867;
@equip-bg-color: #c3cdd1;

@success-main-color: #537b40;
@success-bg-color: #cdd7c5;
@failure-main-color: #9f0300;
@failure-bg-color: #f6d7ea;

// Bgs
@sheet-background: #d9d7cb;

// Bevels
@bevel-size: 5px;
@shtick-bevel: 15px;
@default-corner-clip: 10px;

// Functions
.clipBottom(@bevel) {
    clip-path: polygon(100% 0px,
            100% calc(100% - @bevel),
            calc(100% - @bevel) 0%,
            @bevel 100%,
            0px calc(100% - @bevel),
            0px 0px);
}

.clipCost(@bevel) {
    clip-path: polygon(calc(100% - @bevel) 0px,
            100% @bevel,
            100% 100%,
            @bevel 100%,
            0px calc(100% - @bevel),
            0px 0px);
}

.clipCorners(@bevel) {
    clip-path: polygon(@bevel 0px,
            calc(100% - @bevel) 0px,
            100% @bevel,
            100% calc(100% - @bevel),
            calc(100% - @bevel) 100%,
            @bevel 100%,
            0px calc(100% - @bevel),
            0px @bevel );
}

.clippedBorders(@color, @borderThickness, @background, @clipSize) {
    position: relative;
    background: @color;
    .clipCorners(@clipSize);

    &::before {
        .clipCorners(@clipSize);
        content: "";
        position: absolute;
        z-index: -1;
        background: @background;
        top: @borderThickness;
        left: @borderThickness;
        right: @borderThickness;
        bottom: @borderThickness;
    }
}
