.dice-roll {
    .dice-success-msg {
        color: @success-main-color;
    }

    .dice-failure-msg {
        color: @failure-main-color;
    }
    
    .dice-flavor {
        font-style: italic;    
        text-align: center;
    }

    @dice-message-types: success, failure;
    padding: 6px; 
    
    each(@dice-message-types, {
        @main-color: "@{value}-main-color";
        @bg-color: "@{value}-bg-color";
        
        &[data-message-type="@{value}"] {
            .clippedBorders(@@main-color, 3px, @@bg-color, @default-corner-clip);
        }
    })
}