@import "./config.less";
@import "./item/item.less";
@import "./actor/actor.less";
@import "./dice-style.less";

.message-content {
    .chat-hidden {
        display: none;
    }
    
    .hidden {
        display: none;
    }
}