<div class="annotation-item item annotationBorder annotation-card" data-item-id="{{_id}}">
    <div class="annotation-item-header">
        {{#if showControls}}
        <a class="item-roll annotation-name">
            {{name}}
        </a>
        {{else}}
        <div class="annotation-name">
            {{name}}
        </div>
        {{/if}}

        {{#if showControls}}
        <div class="item-controls">
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
        {{/if}}
    </div>

    <div class="annotation-desc">
        {{{system.desc}}}
    </div>
</div>