<div class="{{type}}-card card-item itemBorder item" data-ftype="{{type}}" data-actor-id="{{actorId}}"
    data-item-id="{{_id}}" {{#if tokenId}}data-token-id="{{tokenId}}" {{/if}}>
    <header class="card-item-header {{type}}-header">
        <img class="card-item-icon" src="{{img}}" title="{{name}}" />
        {{#if chatCard}}
        <label class="item-name">{{name}}</label>
        {{else}}
        <a class="item-roll">
            <label class="item-name">{{name}}</label>
        </a>
        <div class="item-controls">
            <a class="item-control item-toggle {{item.toggleClass}}" title='{{item.toggleTitle}}'><i
                    class="fas fa-shield-alt"></i></a>
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
        {{/if}}

    </header>

    <div class="card-item-content">
        <div class="card-item-desc">
            {{{system.desc}}}
        </div>

        {{#if system.info.desc}}
        <div class="chat-hidden card-item-resource">
            <div class="card-item-resource-header">
                <label class="card-item-label">
                    {{localize "JURPS.Item.descr"}}
                </label>
            </div>
            <div class="card-item-desc">
                {{{system.info.desc}}}
            </div>
        </div>
        {{/if}}

        <div class="card-item-info" data-item-id="{{_id}}">
            {{#if (not chatCard)}}
            <div class="card-item-resources">
                <div class="{{system.etype}}-info equip-info">
                    {{#if (eq system.etype "armor")}}
                    <div class="card-item-resource card-item-quantity reveal-rollable">
                        <!--<div class="card-item-resource-header">
                            <label class="card-item-label">
                                {{localize "JURPS.Item.armor.res"}}
                            </label>
                        </div>
                        <input class="input-number-arrows card-item-value" type="number" value="{{system.info.res}}"
                            placeholder="0" data-dtype="Number" readonly />-->
                    </div>

                    <div class="card-item-resource card-item-quantity reveal-rollable">
                        <div class="card-item-resource-header">
                            <label class="card-item-label">
                                {{localize "JURPS.Item.armor.quality"}}
                            </label>
                            <a class="task-check rollable hidden" data-action-value="{{system.info.quality}}"
                                data-attr-name="{{localize 'JURPS.Item.armor.quality'}}">
                                <i class="fas fa-dice"></i>
                            </a>
                        </div>
                        <input class="input-number-arrows card-item-value" type="number" value="{{system.info.quality}}"
                            placeholder="0" data-dtype="Number" readonly />
                    </div>
                    {{/if}}

                    {{#if (eq system.etype "shield")}}
                    <div class="card-item-resource card-item-quantity">
                        <div class="card-item-resource-header">
                            <label class="card-item-label"> {{localize "JURPS.Item.shield.res"}} </label>
                        </div>
                        <input class="input-number-arrows card-item-value" type="number"
                            value="{{system.info.shieldRes}}" placeholder="0" data-dtype="Number" readonly />
                    </div>
                    {{/if}}
                </div>

                {{#each system.resources as |res id|}}
                {{#if (gt res.max 0)}}
                <div class="card-item-resource card-item-quantity">
                    <label class="card-item-label"> {{res.label}} </label>
                    <input class="input-number-arrows inline-edit card-item-value" type="number"
                        name="system.resources.{{id}}.value" value="{{res.value}}" placeholder="0"
                        data-dtype="Number" />
                </div>
                {{/if}}
                {{/each}}
            </div>
            {{/if}}
        </div>

        <footer class="card-footer">
        </footer>
    </div>
</div>