<div class="feature-item item featureBorder feature-card" data-ftype="{{toLowerCase system.ftype}}"
    data-item-id="{{_id}}">
    <div class="feature-item-header">
        <img class="feature-item-icon" src="{{img}}" title="{{name}}" />
        {{#if showControls}}
        <a class="item-roll feature-name">
            {{name}}
        </a>
        {{else}}
        <div class="feature-name">
            {{name}}
        </div>
        {{/if}}

        {{#if showControls}}
        <div class="item-controls">
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
        {{/if}}
    </div>

    <div class="feature-desc">
        {{{system.desc}}}
    </div>
</div>