<div class="{{type}}-card card-item itemBorder item" data-ftype="{{type}}" data-actor-id="{{actorId}}"
    data-item-id="{{_id}}" {{#if tokenId}}data-token-id="{{tokenId}}" {{/if}}>
    <header class="card-item-header {{type}}-header">
        <img class="card-item-icon" src="{{img}}" title="{{name}}" />
        {{#if chatCard}}
        <label class="item-name">{{name}}</label>
        {{else}}
        <a class="item-roll">
            <label class="item-name">{{name}}</label>
        </a>
        <div class="item-controls">
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
        {{/if}}

    </header>

    <div class="card-item-content">
        <div class="card-item-desc">
            {{{system.desc}}}
        </div>

        {{#if system.info.desc}}
        <div class="chat-hidden card-item-resource">
            <div class="card-item-resource-header">
                <label class="card-item-label">
                    {{localize "JURPS.Item.descr"}}
                </label>
            </div>
            <div class="card-item-desc">
                {{{system.info.desc}}}
            </div>
        </div>
        {{/if}}

        {{#if (and isWeapon chatCard)}}
        <div class="card-buttons">
            <div class="attack-info">
                <button class="attack">
                    <i class="fas fa-bullseye"></i>{{ localize "JURPS.Labels.Attack" }}
                </button>
            </div>

            <div class="damage-info">
                <button class="damage">
                    <i class="fab fa-battle-net"></i>{{localize "JURPS.Labels.Damage" }}
                </button>
            </div>
        </div>
        {{/if}}

        <div class="card-item-info" data-item-id="{{_id}}">
            {{#if (and isWeapon (not chatCard))}}
            <div class="weapon-content">
                <div class="card-item-resource card-item-quantity reveal-rollable">
                    <div class="card-item-resource-header">
                        <label class="card-item-label">
                            {{localize 'JURPS.Labels.HitBonus'}}
                        </label>
                    </div>
                    <input class="input-number-arrows card-item-value" type="number" value="{{system.hit}}"
                        placeholder="0" data-dtype="Number" readonly />
                </div>

                <div class="card-item-resource card-item-quantity reveal-rollable">
                    <div class="card-item-resource-header">
                        <label class="card-item-label">
                            {{localize 'JURPS.Labels.Damage'}}
                        </label>
                    </div>
                    <input class="input-number-arrows card-item-value" type="text" value="{{getWeaponDamage this}}"
                        placeholder="0" data-dtype="String" readonly />
                </div>
            </div>
            {{/if}}

            {{#if (not chatCard)}}
            <div class="card-item-resource card-item-quantity">
                <label class="card-item-label">
                    {{localize 'JURPS.Item.Quantity'}}
                </label>
                <input class="input-number-arrows inline-edit card-item-value" type="number" name="system.quantity"
                    value="{{system.quantity}}" placeholder="0" data-dtype="Number" />
            </div>
            {{/if}}
        </div>

        <footer class="card-footer">
        </footer>
    </div>
</div>