<div class="dice-roll" data-message-type="{{messageType}}">
    {{#if resultMsg}}
    <div class="dice-flavor">
        {{{resultMsg}}}
    </div>
    {{/if}}
    <div class="dice-result" data-message-type="{{messageType}}">
        <div class="dice-formula"><b>{{attrName}}</b> ({{actionValue}}) - <b>{{formula}}</b> ({{total}})</div>
        {{{tooltip}}}

        <div class="dice-formula">
            <b>margem</b>
            <h4 class="dice-total">{{margem}}</h4>
        </div>

        <div class="dice-formula">
            <b>desvios</b> 
            <h4 class="dice-total">{{desvios}}</h4>
        </div>
    </div>

    {{#if false}}
        <div class="roll-dialog-content" style="text-align: center;">
            {{#if (gte margem 0)}}
            <h3 class="dice-success-msg">{{localize "JURPS.Labels.Success"}}</h3>
            {{else}}
            <h3 class="dice-failure-msg">{{localize "JURPS.Labels.Failure"}}</h3>
            {{/if}}
        </div>
    {{/if}}
</div>