<section class="item-list equip-list">
    <h2> {{localize 'JURPS.Labels.Equips'}} </h2>
    
    {{#each equips as |item id|}}
        {{> "systems/jurps/templates/cards/equip-card.hbs"
            chatCard=false
            item=item
            id=id
        }}
    {{/each}}

    <div class="item-controls align-right">
      <a class="item-control item-create" 
         title="{{localize 'JURPS.Sheet.AddItem'}}" 
         data-type="equip"
         data-name="JURPS.Sheet.NewItem">
         
         <i class="fas fa-plus"></i></a>
    </div>
</section>

