<section class="features">
    <div class="feature-header">
        <h2>
            <div>{{featureTitle}}
                {{#if featureCount}}
                    [{{featureCount}}]
                {{/if}}
            </div>
        </h2>
    </div>
    <section class="feature-list item-list">
        {{#each features as |feature id|}}
            {{> "systems/jurps/templates/cards/feature-card.hbs"
                showControls=true}}
        {{/each}}
    </section>

    <div class="item-controls align-right">
      <a class="item-control item-create"
         title="{{featureAddTitle}}"
         data-type="feature"
         data-ftype="{{featureFType}}"
         data-name={{featureNewName}}>

         <i class="fas fa-plus"></i></a>
    </div>
</section>
