<section class="features trait-list panelBorder">
    <h2>
        <div>{{localize "JURPS.Features.Trait"}}s [{{system.stats.slots.tra}}]</div>
    </h2>

    <section class="item-list">
        {{#each traits as |trait id|}}
        <div class="trait-item item" data-item-id="{{trait._id}}">
            <input class="trait-name inline-edit" data-field="name" type="text" value="{{trait.name}}"
                placeholder="{{localize " JURPS.Sheet.NewTrait"}}">

            <div class="item-controls">
                <a class="item-control item-roll"><i class="fas fa-dice"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
        </div>
        {{/each}}
    </section>

    <div class="item-controls align-right">
        <a class="item-control item-create" data-type="feature" data-name="JURPS.Sheet.NewTrait" data-ftype="Trait"
            title={{localize "JURPS.Sheet.AddTrait" }}>

            <i class="fas fa-plus"></i>
        </a>
    </div>
</section>