<section class="item-list annotation-list">
    <h2> {{localize 'JURPS.Labels.Annotations'}} </h2>

    {{#each annotations as |item id|}}
        {{> "systems/jurps/templates/cards/annotation-card.hbs"
            showControls=true}}
    {{/each}}

    <div class="item-controls align-right">
      <a class="item-control item-create"
         title="{{localize 'JURPS.Sheet.AddAnnotation'}}"
         data-type="annotation"
         data-name="JURPS.Sheet.NewAnnotation">

         <i class="fas fa-plus"></i></a>
    </div>
</section>
