<section class="features skill-list panelBorder">
    <h2>
        <div>{{localize "JURPS.Features.Skill"}}s [{{system.stats.slots.per}}]</div>
    </h2>

    {{#each skills as |skill id|}}
    <div class="skill-item item" data-item-id="{{skill._id}}">
        <label class="skill-name">
            {{skill.name}}
        </label>

        <td class="item-controls">
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </td>

        <br />
        <label class="skill-desc">
            {{system.desc}}
        </label>
    </div>
    {{/each}}

    <div class="item-controls align-right">
        <a class="item-control item-create" title="{{localize 'JURPS.Sheet.AddSkill'}}" data-type="feature"
            data-ftype="Skill" data-name="JURPS.Sheet.NewSkill">

            <i class="fas fa-plus"></i></a>
    </div>
</section>