<section class="item-list other-item-list">
    <h2> {{localize 'JURPS.Labels.Items'}} </h2>

    {{#each otherItems as |item id|}}
        {{> "systems/jurps/templates/cards/item-card.hbs"
            chatCard=false
            isWeapon=false
            item=item
            id=id
        }}
    {{/each}}

    <div class="item-controls align-right">
      <a class="item-control item-create"
         title="{{localize 'JURPS.Sheet.AddItem'}}"
         data-type="item"
         data-name="JURPS.Sheet.NewItem">

         <i class="fas fa-plus"></i></a>
    </div>
</section>
