<section class="actor-stats attr-row">
    <div class="attr-column1">
        <table class="attributes">
            <td class="attr-name-container">
                <label class="attr-label">
                    {{localize "JURPS.Stats.Level"}}
                </label>
            </td>
            <td class="attr-value-td">
                <span class="attr-value-wrap">
                    <input type="text" class="attr-value" name="system.stats.level.value"
                        value="{{system.stats.level.value}}" data-dtype="Number" />
                </span>
            </td>
            <td class="attr-name-container">
                <label class="attr-label">
                    {{localize "JURPS.Stats.Points"}}
                </label>
            </td>
            <td class="attr-value-td">
                <label class="attr-cost-cell">
                    <input type="text" class="attr-value" name="system.attrCost" value="{{system.attrCost}}"
                        data-dtype="Number" readonly />
                    <b>/</b>
                    <input type="text" class="attr-value" name="system.nvPoints" value="{{system.nvPoints}}"
                        data-dtype="Number" readonly />
                </label>
            </td>
        </table>

        <table class="attributes">
            <tr class="attributes-table">
                <th class="attr-th">{{localize "JURPS.Labels.Attribute"}}</th>
                <th>{{localize "JURPS.Labels.Value"}}</th>
                <th>{{localize "JURPS.Stats.Atual"}}</th>
                <th>{{localize "JURPS.Labels.Passive"}}</th>
                <th>σ</th>
            </tr>
            {{#each system.attributes as |attr key| }}
            <tr>
                <td class="attr-name-container reveal-rollable">
                    <label class="attr-name" for="system.attributes.{{key}}">
                        {{attr.label}}
                        <a class="task-check rollable hidden" data-action-value="{{attr.current}}"
                            data-attr-name="{{attr.label}}">
                            <i class="fas fa-dice"></i>
                        </a>
                    </label>
                </td>
                <td class="attr-value-td">
                    <span class="attr-value-wrap">
                        <input type="number" class="attr-value" name="system.attributes.{{key}}.value"
                            value="{{attr.value}}" data-dtype="Number" />
                    </span>
                </td>
                <td class="attr-value-td">
                    <input type="number" data-dtype="Number" name="system.attributes.{{key}}.current" class="attr-value"
                        value="{{attr.current}}" readonly />
                </td>
                <td class="attr-value-td">
                    <label for="system.attributes.{{key}}" class="attr-value">{{attr.passive}}</label>
                </td>
                <td class="attr-value-td">
                    <label for="system.attributes.{{key}}" class="attr-value">{{attr.sigma}}</label>
                </td>
            </tr>
            {{/each}}
        </table>
    </div>

    <div class="attr-column2">
        <table class="attributes">
            <tr class="attributes-table">
                <th></th>
                <th>{{localize "JURPS.Stats.Atual"}}</th>
                <th>{{localize "JURPS.Stats.Max"}}</th>
            </tr>
            <tr>
                <td class="attr-name-container">
                    <label class="attr-label">
                        {{localize "JURPS.Stats.Vida"}}
                    </label>
                </td>
                <td class="attr-value-td">
                    <span class="attr-value-wrap">
                        <input type="text" class="attr-value" name="system.vida.value" value="{{system.vida.value}}"
                            data-dtype="Number" />
                    </span>
                </td>
                <td class="attr-value-td">
                    <label for="system.vida.max" class="attr-value">
                        {{system.vida.max}}
                    </label>
                </td>
            </tr>

            <tr>
                <td class="attr-name-container">
                    <label class="attr-label">
                        {{localize "JURPS.Stats.Tentos"}}
                    </label>
                </td>
                <td class="attr-value-td">
                    <span class="attr-value-wrap">
                        <input type="text" class="attr-value" name="system.tentos.value" value="{{system.tentos.value}}"
                            data-dtype="Number" />
                    </span>
                </td>
                <td class="attr-value-td">
                    <label for="system.tentos.max" class="attr-value">
                        {{system.tentos.max}}
                    </label>
                </td>
            </tr>
        </table>

        <table class="attributes">
            <tr class="attributes-table">
                <th></th>
                <th>{{localize "JURPS.Labels.Bonus"}}</th>
                <th>{{localize "JURPS.Labels.Value"}}</th>
            </tr>
            <tr>
                <td class="attr-name-container reveal-rollable">
                    <label class="attr-label">
                        {{localize "JURPS.Stats.Mobility"}}
                        <a class="task-check rollable hidden" data-action-value="{{system.esq}}"
                            data-attr-name="{{localize 'JURPS.Stats.Mobility'}}">
                            <i class="fas fa-dice"></i>
                        </a>
                    </label>
                </td>
                <td class="attr-value-td">
                    <label for="system.stats.mob.ajusteb" class="attr-value">
                        {{system.stats.mob.ajusteb}}
                    </label>
                </td>
                <td class="attr-value-td">
                    <label for="system.esq" class="attr-value">{{system.mob}}</label>
                </td>
            </tr>
            <tr>
                <td class="attr-name-container reveal-rollable">
                    <label class="attr-label">
                        {{localize "JURPS.Stats.Dodge"}}
                        <a class="task-check rollable hidden" data-action-value="{{system.esq}}"
                            data-attr-name="{{localize 'JURPS.Stats.Dodge'}}">
                            <i class="fas fa-dice"></i>
                        </a>
                    </label>
                </td>
                <td class="attr-value-td">
                    {{!-- <input type="text" class="attr-value" name="system.stats.mob.esquivab"
                        value="{{system.stats.mob.esquivab}}" data-dtype="Number" /> --}}
                    <label for="system.stats.mob.esquivab" class="attr-value"> {{system.stats.mob.esquivab}} </label>
                </td>
                <td class="attr-value-td">
                    <label for="system.esq" class="attr-value">{{system.esq}}</label>
                </td>
            </tr>

            <tr>
                <td class="attr-name-container">
                    <label class="attr-label">
                        {{localize "JURPS.Stats.Init"}}
                    </label>
                </td>
                <td class="attr-value-td">
                    {{!-- <input type="text" class="attr-value" name="system.stats.mob.iniciativab"
                        value="{{system.stats.mob.iniciativab}}" data-dtype="Number" /> --}}
                    <label for="system.stats.mob.iniciativab"
                        class="attr-value">{{system.stats.mob.iniciativab}}</label>
                </td>
                <td class="attr-value-td">
                    <label for="system.ini" class="attr-value">{{system.ini}}</label>
                </td>
            </tr>
        </table>
    </div>
</section>