<section class="weapons">
    <h2> {{localize 'JURPS.Labels.Weapon'}}s </h2>
    
    <section class="item-list">
    {{#each weapons as |weapon id|}}
        {{> "systems/jurps/templates/cards/item-card.hbs"
            chatCard=false
            isWeapon=true
            item=weapon
            id=id
        }}
    {{/each}}
    </section>

    <div class="item-controls align-right">
      <a class="item-control item-create" 
         title="{{localize 'JURPS.Sheet.AddWeapon'}}" 
         data-type="weapon"
         data-name="JURPS.Sheet.NewWeapon">
         
         <i class="fas fa-plus"></i></a>
    </div>
</section>

