.annotation-card.annotation-item {
    .annotation-item-header .annotation-name {
        font-size: 16px;
        font-weight: bold;
    }

    .annotation-desc {
        font-size: medium;
        font-style: italic;
        padding-bottom: 4px;
    }
}

.annotationBorder {
    .annotationApearance(@annotation-main-color, @annotation-bg-color)
}

.annotationApearance(@feat-main-color: @main-color, @feat-accent-color: @sheet-background) {
    .clippedBorders(@feat-main-color, 2px, @feat-accent-color, @default-corner-clip);

    .annotation-item-header {
        background-color: @feat-main-color;
        color: @feat-accent-color;
        margin: 2px;
    }
}

.message-content .annotationBorder .annotation-desc {
  padding: 3px;
  padding-left: 4%;
}

.message-content .annotationBorder .annotation-name {
  padding: 3px;
  padding-left: 3%;
  padding-top: 2%;
}
