.jurps.sheet.item .equip {
    form {
        display: flex;
        flex-direction: column;
    }
    
    .sheet-content {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        
        .tox-tinymce {
            min-height: 600px;
        }

        .editor-content {
            min-height: 400px;
        }

        .input-number {
            text-align: center;
        }
    }
}