.feature-card { // .feature-item
    .feature-item-header .feature-name {
        font-size: 16px;
        font-weight: bold;
    }

    .feature-desc {
        font-size: medium;
        font-style: italic;
        padding-bottom: 4px;
    }

    .feature-item-header {
        font-size: 16px;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 300px;
            padding: 0px;
            border: none;
        }
    }
}

.jurps.sheet .feature-item {
    .feature-item-header {
        display: flex;
        flex-direction: row;
        font-size: large;
        font-weight: 500;
        
        img {
            width: 48px; 
            height: 48px;
            border: none;
            margin-left: -2px;
            margin-right: 8px;
        }
    }
}

.featureBorder {
    @feature-types: trait, skill, gift, vocation;
    
    each(@feature-types, {
        @main-color: "@{value}-main-color";
        @bg-color: "@{value}-bg-color";
        
        &[data-ftype="@{value}"] {
            .featureApearance(@@main-color, @@bg-color);
        }
    })
}

.featureApearance(@feat-main-color: @main-color, @feat-accent-color: @sheet-background) {
    .clippedBorders(@feat-main-color, 2px, @feat-accent-color, @default-corner-clip);
    
    .feature-item-header {
        background-color: @feat-main-color;
        color: @feat-accent-color;
        // margin: 2px;
    }
}

.message-content .featureBorder .feature-desc {
  padding: 3px; 
  padding-left: 4%;
}

.message-content .featureBorder .feature-name {
  padding: 3px; 
  padding-left: 3%;
  padding-top: 2%;
}