.jurps.sheet .card-item {
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    
    .card-item-header {
        display: flex;
        flex-direction: row;
        font-size: large;
        font-weight: 500;
        
        .item-name {
            margin-left: 4px;
        }
        
        img {
            width: 48px; 
            height: 48px;
            border: none;
        }
        
        .item-controls {
            margin-left: auto;
            font-size: medium;
            margin-right: 10px;

            .item-toggle {
                color: @colorBeige;
                &.active {
                  color: @colorOlive;
                }
                &.fixed {
                  color: @colorCrimson;
                  &:hover {
                    text-shadow: none;
                  }
                }
            }
        }
    }
    
    .weapon-content {
        .weapon-info {
            align-self: right;
            margin-right: 40px;
        }
    }

    .card-item-content {
        padding: 8px;

        .card-item-desc {
            font-size: medium;
            font-style: italic;
        }

        .card-buttons {
            align-items: center;
            text-align: center;
        }
        
        div.card-item-resource-header {
           display: flex; 
           flex-direction: row;
           width: 140px;
           text-align: right;
        }

        .card-item-quantity {
            display: flex;
            flex-direction: row;
            text-align: center;
            align-items: center;
            width: 180px;
            
            input {
                margin-top: 2px;
                margin-bottom: 2px;
            }
        }
    }
}