.jurps.sheet.item {
    .window-content {
        input, select, textarea {
            background: none;
            border: none;
        }
        
        .item-image {
            border: none;
        }
        
        h1, h2 {
            border: none;
        }
    }
    
    .bonus-items {
       .bonus-header {
           font-size: 1.2rem;
       } 
       
       .bonus-name, .bonus-value {
           font-size: 1.0rem;
       }
    }
}