.item-card, .weapon-card, .equip-card {
    .card-item-header {
        font-size: 16px;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        align-items: center;

        .item-name {
            margin-top: 8px;
            margin-left: 3px;
        }

        img {
            width: 300px;
            padding: 0px;
            border: none;
        }
    }
    
    .card-item-content {
        label.card-item-label {
            font-size: 1rem;
            margin-right: 15px;
        }
        
        input.card-item-value {
            font-size: 1.4rem;
        }
        
        .card-item-desc {
            padding-left: 10px;
            padding-right: 10px;
            width: 100%;
            white-space: normal;
            
            .editor-content {
                display: block !important;
            }
            
            .tox-tinymce {
                display: none;
            }
        }
    }
}
    

.itemBorder {
    @feature-types: item, weapon, equip;

    each(@feature-types, {
            @main-color: "@{value}-main-color";
            @bg-color: "@{value}-bg-color";

            &[data-ftype="@{value}"] {
                .itemApearance(@@main-color, @@bg-color);
            }
        }

    )
}

.itemApearance(@feat-main-color: @main-color, @feat-accent-color: @sheet-background) {
    .clippedBorders(@feat-main-color, 2px, @feat-accent-color, @default-corner-clip);

    .card-item-header {
        background-color: @feat-main-color;
        color: @feat-accent-color;
    }
    
    .card-item-content {
        label.card-item-label {
            color: @feat-main-color;
            font-weight: bold;
            /* -webkit-text-stroke: 0.5px black; */
        }
        
        .card-item-resource .card-item-desc {
            color: @feat-main-color;
        }
    }


    .card-item-quantity {
        input.card-item-value {
            background-color: @feat-main-color;
            color: @feat-accent-color;
            .clipCorners(@bevel-size);
        }
        
        input[type="number"]:read-only {
            background-color: inherit;
            color: @feat-main-color;
            width: 40px;
        }
        
        input[type="text"]:read-only {
            background-color: inherit;
            color: @feat-main-color;
            width: 80px;
        }
    }
}

.message-content .itemBorder {
    .card-item-content {
        padding: 8px;
    }

    .card-buttons {
        .attack-info,
        .damage-info {
            padding-bottom: 10px;
        }
    }

    .card-item-name {
        padding: 3px;
        padding-left: 3%;
    }
}