.jurps.sheet.item .weapon {
    .weapon-header {
        height: 80px;
        
        .weapon-img {
            height: 80px;
        }
        
        .weapon-name {
            width: calc(80% - 80px);
        }
    }

    .weapon-table {
        text-align: center;
        font-size: 16px;
        
        .input-number {
            width: 60px;
        }
        
        .input-text {
            width: 100%;
        }

        select[readonly] {
            /*background: @colorBeige; Simular campo inativo*/
            pointer-events: none;
            touch-action: none;

            -webkit-appearance: none;
            -moz-appearance: none;
            text-indent: 1px;
            text-overflow: '';
        }
    }
    
    table.weapon-table-header {
        width: 20%;
        position: absolute;
        right: 8px;
        
        tbody {
            font-style: italic;
            margin: auto;
        }
        
        tr {
            text-align: left;
        }

        td {
            text-align: right;
        }
        
        tr:nth-child(even) {
            background-color: initial;
        }
    }
    
    .weapon-content {
        display: flex;
        text-align: center;
        
        .sheet-desc {
            text-align: left;
        }
    }
}        