<form class="{{cssClass}}" autocomplete="off">

    <header class="sheet-header">
        <img class="actor-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
        <div class="header-fields">
            <h1 class="actor-header-name"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" />
            </h1>
        </div>
    </header>

    <nav class="sheet-tabs tabs" data-group="primary">
        {{!-- Default tab is specified in actor-sheet.mjs --}}
        <a class="item" data-tab="info">{{localize 'JURPS.Labels.Info'}}</a>
        <a class="item" data-tab="traits">{{localize 'JURPS.Features.Trait'}}s</a>
        <a class="item" data-tab="skills">{{localize 'JURPS.Features.Skill'}}s</a>
        <a class="item" data-tab="vocations">{{localize 'JURPS.Features.Vocation'}}</a>
        <a class="item" data-tab="gifts">{{localize 'JURPS.Features.Gift'}}</a>
        <a class="item" data-tab="inventory">{{localize 'JURPS.Labels.Items'}}</a>
        <a class="item" data-tab="annotations">{{localize 'JURPS.Labels.Annotations'}}</a>
        <a class="item" data-tab="biography">{{localize 'JURPS.Labels.Biography'}}</a>
    </nav>

    <section class="sheet-body">
        <div class="tab info" data-group="primary" data-tab="info">
            <div class="sheet-content">
                <div class="stats">
                    {{> "systems/jurps/templates/actor/parts/actor-stats.hbs"}}
                </div>

                <div class="items equips">
                    {{> "systems/jurps/templates/actor/parts/actor-equips.hbs"}}
                </div>

                <div class="items weapons">
                    {{> "systems/jurps/templates/actor/parts/actor-weapons.hbs"}}
                </div>
            </div>
        </div>

        {{!-- Owned Features Tab --}}
        <div class="tab traits" data-group="primary" data-tab="traits">
            <div class="features traits">
                <div class="features vocations">
                    {{> "systems/jurps/templates/actor/parts/actor-feature.hbs"
                    features=traits
                    featureTitle=(localize 'JURPS.Features.Trait')
                    featureFType="Trait"
                    featureAddTitle=(localize 'JURPS.Sheet.AddTrait')
                    featureNewName="JURPS.Sheet.NewTrait"
                    featureCount=system.stats.slots.tra
                    }}
                </div>
            </div>
        </div>

        {{!-- Owned Features Tab --}}
        <div class="tab skills" data-group="primary" data-tab="skills">
            <div class="features skills">
                {{> "systems/jurps/templates/actor/parts/actor-feature.hbs"
                features=skills
                featureTitle=(localize 'JURPS.Features.Skill')
                featureFType="Skill"
                featureAddTitle=(localize 'JURPS.Sheet.AddSkill')
                featureNewName="JURPS.Sheet.NewSkill"
                featureCount=system.stats.slots.per
                }}
            </div>
        </div>

        {{!-- Owned Features Tab --}}
        <div class="tab vocations" data-group="primary" data-tab="vocations">
            <div class="features vocations">
                {{> "systems/jurps/templates/actor/parts/actor-feature.hbs"
                features=vocations
                featureTitle=(localize 'JURPS.Features.Vocation')
                featureFType="Vocation"
                featureAddTitle=(localize 'JURPS.Sheet.AddVocation')
                featureNewName="JURPS.Sheet.NewVocation"
                featureCount=system.stats.slots.voc
                }}
            </div>
        </div>

        {{!-- Owned Features Tab --}}
        <div class="tab gifts" data-group="primary" data-tab="gifts">
            <div class="features gifts">
                {{> "systems/jurps/templates/actor/parts/actor-feature.hbs"
                features=gifts
                featureTitle=(localize 'JURPS.Features.Gift')
                featureFType="Gift"
                featureAddTitle=(localize 'JURPS.Sheet.AddGift')
                featureNewName="JURPS.Sheet.NewGift"
                featureCount=system.stats.slots.dom
                }}
            </div>
        </div>

        <div class="tab inventory" data-group="primary" data-tab="inventory">
            <div class="items other-items">
                {{> "systems/jurps/templates/actor/parts/actor-items.hbs" }}
            </div>
        </div>

        {{!-- Owned Features Tab --}}
        <div class="tab annotation" data-group="primary" data-tab="annotations">
            <div class="items annotations">
                {{> "systems/jurps/templates/actor/parts/actor-annotations.hbs"}}
            </div>
        </div>

        {{!-- Biography Tab --}}
        <div class="tab biography" data-group="primary" data-tab="biography">
            {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll
            data to the rollData property. --}}
            {{editor system.bio target="system.bio" rollData=rollData button=true owner=owner editable=editable}}
        </div>
    </section>

</form>