<form class="{{cssClass}} object-sheet" autocomplete="off">
    <header class="sheet-header">
        <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64" />

        <h1>
            <input name="name" type="text" value="{{actor.name}}" placeholder="Name" />
        </h1>
    </header>


    <div class="sheet-content">
        <div class="sheet-desc">
            {{editor system.desc target="system.desc" rollData=rollData button=true owner=owner editable=editable}}
        </div>
    </div>
</form>