.jurps.sheet.actor .annotations {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;

    .annotation-list {
        overflow-y: hidden;
        white-space: nowrap;
        height: 100%;
        width: 100%;
    }

    .annotation-item {
        height: 100%;
        margin: 8px;

        .annotation-item-header {
            width: 100%;
            display: flex;
            flex-direction: row;
            padding: 5px;

            .annotation-name {
                width: 95%;
            }
        }

        .annotation-desc {
            padding-left: 10px;
            padding-right: 10px;
            width: 100%;
            white-space: normal;

            .editor-content {
                display: block !important;
            }

            .tox-tinymce {
                display: none;
            }
        }

    }

    .item-controls {
        text-align: right;
        margin-right: 5px;
    }
}
