.jurps.sheet.actor {
    .object-sheet {
        .sheet-content {
            display: flex;
            flex-direction: column;
            
            .sheet-desc {
                font-size: large;
            }
            
            .tox-tinymce {
                min-height: 600px;
            }

            .editor-content {
                min-height: 400px;
            }

            .input-number {
                text-align: center;
            }
        }
    }
}