.jurps.sheet.actor .features {
    .feature-item {
        .feature-item-header {
            .feature-name {
                font-size: 16px;
                font-weight: bold;
            }
        }

        .feature-desc {
            font-size: medium;
            font-style: italic;
        }
    }

    .featureBorder {
        @feature-types: trait, skill, gift, vocation;

        each(@feature-types, {
            @main-color: "@{value}-main-color";
            @bg-color: "@{value}-bg-color";

            &[data-ftype="@{value}"] {
                .featureApearance(@@main-color, @@bg-color);
            }
        })
    }

    .featureApearance(@feat-main-color: @main-color, @feat-accent-color: @sheet-background) {
        .clippedBorders(@feat-main-color, 2px, @feat-accent-color, @default-corner-clip);

        .feature-item-header {
            background-color: @feat-main-color;
            color: @feat-accent-color;
            margin: 2px;
        }
    }
}
