.jurps.sheet.actor {
    .actor-stats {
        .attr-label {
            font-size: medium;
            font-weight: bold;
        }

        .attr-name {
            font-size: 21px;
        }
        
        .attr-value {
            font-size: 1.8rem;
        }
        
        .attr-value-wrap {
          filter: drop-shadow(-1px 2px 3px rgba(50, 50, 0, 0.5));
          margin-right: 5px;
        }
        
        input.attr-value {
            background-color: @sheet-background;
            box-shadow: none;
            .clipCorners(@bevel-size);
        }
        
        input.attr-value:read-only {
            background: none;
            border: none;
            box-shadow: none;
        }
        
        .mobility-value {
            .attr-value-td {
                text-align: center;
            }
        }
    }
}