.jurps.sheet.actor {
    .window-content {
        input, select, textarea {
            border: none;
        }
        
        h1, h2 {
            border: none;
        }
        
        .actor-image {
            border: none;
        }
        
        .panelBorder {
            .clippedBorders(@main-color, 2px, @sheet-background, @default-corner-clip);
        }
    }

    .sheet-body,
    .sheet-body .tab,
    .sheet-body .tab .editor {
        font-size: medium;
    }

    .tox {
        .tox-editor-container {
            background: white;
        }
    }
}