.jurps.sheet.actor {
    .weapons, .items, .equips {
        margin-top: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;

        .item-controls {
            text-align: right;
            margin-right: 5px;
        }
    } 
}