.jurps.sheet.actor {
    .other-item-list {
        margin-top: 5px;
        width: 100%;
        
        .item-card {
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid #782e22;
            padding-bottom: 10px;
            margin-top: 10px;
            
            .item-header {
                display: flex;
                flex-direction: row;
                font-size: large;
                font-weight: 500;
                
                .item-controls {
                    margin-left: auto;
                    font-size: medium;
                }
            }
            
            .item-content {
                display: flex;
                flex-direction: row;
                
                .item-info {
                    align-self: right;
                    margin-right: 40px;
                }
            }
        }
    } 
}