.jurps.sheet.actor {
    .sheet-content {
        display: flex;
        flex-direction: column;
    }

    h1 {
        align-items: center;
    }
    
    .actor-img {
        width: 256px;
        border: none;
    }
    
    select {
        border: none;
        text-align: center;
    }
    
    .hidden, .sheet-hidden {
        display: none;
    } 
    
    /* Tabs */
    
    .sheet-tabs {
        flex: 0;
    }

    .sheet-body,
    .sheet-body .tab,
    .sheet-body .tab .editor {
        height: 100%;
    }

    .attr-cost-cell {
        display: flex;

        b {
            font-size: 20px;
        }
    }

    .tox {
        .tox-edit-area {
            padding: 0 8px;
        }
    }
}