.jurps.sheet.actor {
    .actor-stats {
        .attr-value {
            width: 50px;
            text-align: center;
        }

        .attr-name-container {
            width: 135px;
        }

        .attr-row:after {
          content: "";
          display: table;
          clear: both;
        }

        .attr-column1 {
            margin-right: 20px;
            float: left;
            width: 350px;
        }
        
        .attr-column2 {
            float: left;
            width: 300px;
        }

        .attributes {
            th.attr-th {
                text-align: left;
            }
            
            .attr-value-td {
                text-align: center;
            }
        }
        
        .attributes2 {
            margin-top: 10px;
        }
    }
}