<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <h1>
            <input name="name" type="text" value="{{item.name}}" placeholder="Name" />
        </h1>
    </header>

    <div class="sheet-content">
        <div class="sheet-desc">
            {{editor system.desc target="system.desc" rollData=rollData button=true owner=owner editable=editable}}
        </div>
    </div>
</form>