<form class="{{cssClass}} equip" autocomplete="off">
    <header class="sheet-header">
        <img class="item-image" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />

        <h1>
            <input class="input-name" name="name" type="text" value="{{item.name}}" placeholder="Name" />
        </h1>
    </header>

    <div class="sheet-content">
        {{#if (eq system.etype "other")}}
        <div class="sheet-content-header">
            <select name="system.etype">
                {{#select system.etype}}
                {{#each config.equipTypes as |name id|}}
                <option value="{{id}}">{{localize name}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
        {{/if}}

        {{#if (eq system.etype "bag")}}
        <div class="sheet-content-header">
            <select name="system.etype">
                {{#select system.etype}}
                {{#each config.equipTypes as |name id|}}
                <option value="{{id}}">{{localize name}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
        {{/if}}

        {{#if (eq system.etype "armor")}}
        <div class="armor-info">
            <table>
                <tr>
                    <th>{{localize 'JURPS.Item.armor.rd'}}</th>
                    <!--<th>{{localize 'JURPS.Item.armor.res'}}</th>-->
                    <th>{{localize 'JURPS.Stats.Mobility'}}</th>
                    <th>{{localize 'JURPS.Item.armor.esqmax'}}</th>
                    <th>{{localize 'JURPS.Item.vigreq'}}</th>
                    <th>{{localize 'JURPS.Item.armor.quality'}}</th>
                    <th>{{localize 'JURPS.Item.price'}}</th>
                    <th>{{localize 'JURPS.Item.weight'}}</th>
                    <th>{{localize 'JURPS.Item.descr'}}</th>
                </tr>
                <tr>
                    <td><input class="input-number" type="number" data-type="Number" name="system.resources.rd.max"
                            value="{{system.resources.rd.max}}" /></td>
                    <!--<td><input class="input-number" type="number" data-type="Number" name="system.info.res"
                            value="{{system.info.res}}" /></td>-->
                    <td><input class="input-number" type="number" data-type="Number" name="system.bonus.mob"
                            value="{{system.bonus.mob}}" /></td>
                    <td><input class="input-number" type="number" data-type="Number" name="system.info.esqmax"
                            value="{{system.info.esqmax}}" /></td>
                    <td><input class="input-number" type="number" data-type="Number" name="system.info.vigreq"
                            value="{{system.info.vigreq}}" /></td>
                    <td><input class="input-number" type="number" data-type="Number" name="system.info.quality"
                            value="{{system.info.quality}}" /></td>
                    <td><input class="input-number" type="number" data-type="Number" name="system.price"
                            value="{{system.price}}" /></td>
                    <td><input class="input-number" type="number" data-type="Number" name="system.weight"
                            value="{{system.weight}}" /></td>
                    <td><input class="input-number" type="text" data-type="String" name="system.info.desc"
                            value="{{system.info.desc}}" /></td>
                </tr>
            </table>
        </div>
        {{/if}}

        {{#if (eq system.etype "shield")}}
        <div class="shield-info">
            <table>
                <tr>
                    <th>{{localize 'JURPS.Attr.hab'}}</th>
                    <th>{{localize 'JURPS.Item.shield.blocks'}}</th>
                    <th>{{localize 'JURPS.Item.shield.res'}}</th>
                    <th>{{localize 'JURPS.Item.vigreq'}}</th>
                    <th>{{localize 'JURPS.Item.price'}}</th>
                    <th>{{localize 'JURPS.Item.weight'}}</th>
                </tr>
                <tr>
                    <td><input class="input-number" type="number" data-type="Number" name="system.bonus.hab"
                            value="{{system.bonus.hab}}" /></td>
                    <td><input class="input-number" type="number" data-type="Number" name="system.resources.blocks.max"
                            value="{{system.resources.blocks.max}}" /></td>
                    <td><input class="input-number" type="number" data-type="Number" name="system.info.shieldRes"
                            value="{{system.info.shieldRes}}" /></td>
                    <td><input class="input-number" type="number" data-type="Number" name="system.info.vigreq"
                            value="{{system.info.vigreq}}" /></td>
                    <td><input class="input-number" type="number" data-type="Number" name="system.price"
                            value="{{system.price}}" /></td>
                    <td><input class="input-number" type="number" data-type="Number" name="system.weight"
                            value="{{system.weight}}" /></td>
                </tr>
            </table>
        </div>
        {{/if}}

        <div class="sheet-desc">
            {{editor system.desc target="system.desc" rollData=rollData button=true owner=owner editable=editable}}
        </div>
    </div>
</form>