<div class="feature-editor">
    {{#each system.features as |feature id|}}
    {{id}}
    {{/each}}

    <div class="item-controls align-right">
        <a class="item-control item-create" title="{{localize 'JURPS.Sheet.AddFeature'}}" data-type="feature"
            data-name="JURPS.Sheet.NewFeature">

            <i class="fas fa-plus"></i></a>
    </div>
</div>