<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />

        <h1>
            <input name="name" type="text" value="{{item.name}}" placeholder="Name" />
        </h1>
    </header>

    <div class="sheet-content">
        <div class="item-selector">
            <br />

            {{localize "JURPS.Labels.Type"}}

            <select name="system.ftype">
                {{#select system.ftype}}
                {{#each config.Features as |name ftype|}}
                <option value="{{ftype}}">{{localize name}}</option>
                {{/each}}
                {{/select}}
            </select>

            <hr />
        </div>

        <div class="sheet-desc">
            {{editor system.desc target="system.desc" rollData=rollData button=true owner=owner editable=editable}}
        </div>

        {{#if system.featureBonuses}}
        <div class="bonus-items item-list">
            <label class="bonus-header">
                {{localize "JURPS.Bonus.Title"}}
            </label>

            {{#each system.featureBonuses as |bonus|}}
            <div class="bonus-item item">
                <label class="bonus-name" type="text"> {{localize bonus.label}} </label>
                <label class="bonus-value" type="text"> {{bonus.value}} </label>
            </div>
            {{/each}}
        </div>
        {{/if}}
    </div>
</form>