<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="item-image" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />

        <h1>
            <input name="name" type="text" value="{{item.name}}" placeholder="Name" />
        </h1>
    </header>

    <div class="sheet-content">
        <div class="sheet-desc">
            {{editor system.desc target="system.desc" rollData=rollData button=true owner=owner editable=editable}}
        </div>

        {{#if system.features.armor}}
        <div class="armor-info">
            <!-- aqui vão ficar informações da armadura no futuro -->
        </div>
        {{/if}}
    </div>
</form>