<form class="{{cssClass}} weapon" autocomplete="off">
    <header class="sheet-header weapon-header">
        <img src="{{item.img}}" data-edit="img" class="weapon-img" title="{{item.name}}" />

        <h1>
            <input class="weapon-name" name="name" type="text" value="{{item.name}}" placeholder="Name" />
        </h1>

        <table class="weapon-table weapon-table-header">
            <tr>
                <th>{{localize "JURPS.Labels.Damage"}}</th>
                <td><label class="input-number">{{getWeaponDamage this}}</label></td>
            </tr>
            <tr>
                <th>{{localize "JURPS.Item.vigreq"}}</th>
                <td><label class="input-number" name="system.info.vigreq">{{system.info.vigreq}}</label></td>
            </tr>
            <tr>
                <th>{{localize "JURPS.Labels.HitBonus"}}</th>
                <td><label class="input-number" name="system.hit">{{system.hit}}</label></td>
            </tr>
        </table>

    </header>

    <div class="sheet-content weapon-content">
        <table class="weapon-table">
            <tr>
                <th>{{localize "JURPS.Item.weapons.size"}}</th>
                <th>{{localize "JURPS.Item.weapons.dweight"}}</th>
                <th>{{localize "JURPS.Item.weapons.usability"}}</th>
                <th>{{localize "JURPS.Item.weapons.damageAttr"}}</th>
                <th>{{localize "JURPS.Item.damageBonus"}}</th>
                <th>{{localize "JURPS.Labels.HitBonus"}}</th>
            </tr>
            <tr>
                <td>
                    <select name="system.info.size">
                        {{#select system.info.size}}
                        {{#each config.weaponsLabels.size as |name id|}}
                        <option value="{{id}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>

                <td>
                    <select name="system.info.dweight">
                        {{#select system.info.dweight}}
                        {{#if (eq system.info.size "huge")}}
                        <option value="heavy">{{localize config.weaponsLabels.dweight.heavy}}</option>
                        {{else if (and (eq system.info.size "large")
                        (eq system.info.usability "twoHanded"))}}
                        <option value="heavy">{{localize config.weaponsLabels.dweight.heavy}}</option>
                        <option value="normal">{{localize config.weaponsLabels.dweight.normal}}</option>
                        {{else}}
                        {{#each config.weaponsLabels.dweight as |name id|}}
                        <option value="{{id}}">{{localize name}}</option>
                        {{/each}}
                        {{/if}}
                        {{/select}}
                    </select>
                </td>

                <td>
                    <select name="system.info.usability">
                        {{#select system.info.usability}}
                        {{#if (or (eq system.info.size "huge")
                        (and (eq system.info.size "large")
                        (eq system.info.trange "ranged"))
                        )}}
                        <option value="twoHanded">{{localize config.weaponsLabels.usability.twoHanded}}</option>
                        {{else if (or (eq system.info.size "small") (eq system.info.dweight "light"))}}
                        <option value="oneHanded">{{localize config.weaponsLabels.usability.oneHanded}}</option>
                        <option value="dualWield">{{localize config.weaponsLabels.usability.dualWield}}</option>
                        {{else if (eq system.info.size "medium")}}
                        <option value="oneHanded">{{localize config.weaponsLabels.usability.oneHanded}}</option>
                        <option value="twoHanded">{{localize config.weaponsLabels.usability.twoHanded}}</option>
                        <option value="dualWield">{{localize config.weaponsLabels.usability.dualWield}}</option>
                        {{else}}
                        {{#each config.weaponsLabels.usability as |name id|}}
                        <option value="{{id}}">{{localize name}}</option>
                        {{/each}}
                        {{/if}}
                        {{/select}}
                    </select>
                </td>

                <td>
                    <select name="system.bonus.damageAttr">
                        {{#select system.bonus.damageAttr}}
                        {{#each config.damageAttr as |name id|}}
                        <option value="{{id}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>

                <td>
                    <input class="input-number" name="system.bonus.damageFeature" type="number"
                        value="{{system.bonus.damageFeature}}" placeholder="0" data-type="Number" />
                </td>

                <td>
                    <input class="input-number" name="system.bonus.hit" type="number" value="{{system.bonus.hit}}"
                        data-type="Number" />
                </td>
            </tr>
        </table>

        <table class="weapon-table">
            <tr>
                <th>{{localize "JURPS.Item.weapons.diff"}}</th>
                <th>{{localize "JURPS.Item.weapons.trange"}} </th>

                {{#if (eq system.info.trange "ranged")}}
                <th>{{localize "JURPS.Item.weapons.range"}} </th>
                <th>{{localize "JURPS.Item.weapons.reload"}}</th>
                <th>{{localize "JURPS.Item.weapons.reloadDrum"}}</th>
                {{/if}}

                <th>{{localize 'JURPS.Item.vigreqBonus'}}</th>
                <th>{{localize "JURPS.Item.weight"}}</th>
            </tr>
            <tr>
                <td>
                    <select name="system.info.diff">
                        {{#select system.info.diff}}
                        {{#each config.weaponsLabels.difficulty as |name id|}}
                        <option value="{{id}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>

                <td>
                    <select name="system.info.trange">
                        {{#select system.info.trange}}
                        {{#each config.weaponsLabels.trange as |name id|}}
                        {{#if (or (ne id "throw") (lt ../system.info.sizeNum 2))}}
                        <option value="{{id}}">{{localize name}}</option>
                        {{/if}}
                        {{/each}}
                        {{/select}}
                    </select>
                </td>

                {{#if (eq system.info.trange "ranged")}}
                <td>
                    <input class="input-number" name="system.info.range" type="number" value="{{system.info.range}}"
                        data-type="Number" readonly />
                </td>

                <td>
                    <input class="input-number" name="system.info.reload" type="number" value="{{system.info.reload}}"
                        data-type="Number" />
                </td>

                <td>
                    <input class="input-number" name="system.info.reloadDrum" type="number"
                        value="{{system.info.reloadDrum}}" data-type="Number" />
                </td>
                {{/if}}

                <td>
                    <input class="input-number" type="number" data-type="Number" name="system.bonus.vigreqFeature"
                        value="{{system.bonus.vigreqFeature}}" />
                </td>

                <td>
                    <input class="input-number" name="system.weight" type="number" value="{{system.weight}}"
                        data-type="Number" />
                </td>
            </tr>
        </table>

        <table class="weapon-table">
            <tr>
                <th>{{localize "JURPS.Item.descr"}}</th>
                <th>{{localize "JURPS.Item.price"}}</th>
            </tr>
            <tr>
                <td>
                    <input class="input-text" type="text" data-type="String" name="system.info.desc"
                        value="{{system.info.desc}}" />
                </td>

                <td>
                    <input class="input-number" type="number" data-type="Number" name="system.price"
                        value="{{system.price}}" />
            </tr>
        </table>

        <div class="sheet-desc">
            {{editor system.desc target="system.desc" rollData=rollData button=true owner=owner editable=editable}}
        </div>
    </div>
</form>